 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.8/index.global.min.css" rel="stylesheet" />
    <script src="{% static 'plants.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.8/index.global.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="filler"></div>
            <ul class="link_list">
                <li><a href="{% url 'home' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                {% endif %}
        
                <li><a href="{% url 'catalog' %}">Catalog</a></li>
                {% if user.is_staff %}
                <li><a href="{% url 'addplant' %}">Add plant</a></li>
                {% endif %}
                <li><a href="{% url 'calendar' %}">Calendar</a></li>
        <!--        {% if user.is_authenticated %}-->
        <!--            <li><a href="#">Dashboard</a></li>-->
        <!--        {% endif %}-->
            </ul>
            <div class="login-logout">
                {% if not user.is_authenticated %}
                    <div class="login">
                        <a class="font-details-size all-buttons big-button logout-button" href="{% url 'login' %}">Log in</a>
                    </div>
                {% else %}
                    <div class="logout">
                        <p class="user-welcome">Hi, <a href="{% url 'profile' %}">{% if user.first_name%}{{ user.first_name }}{% else %} @{{ user.username }} {%endif%}</a>!</p>
                        <div class="logout-form-container">
                            <form class="logout-form" method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="font-details-size all-buttons big-button logout-button" type="submit">Log out</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <div>
                <p>Some description and logo</p>
            </div>
            <div>
                <a href="#">Contact</a>
            </div>
        </footer>
    </div>
</body>

</html>