{% extends 'plants/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="dashboard-flow">
        <div class="dashboard">
            <div class="pending-events">
                <div class="watering-board scroll tile-background">
                    <div class="watering-schedule-header"><h2 class="section-header">Watering schedule</h2><button id="openWateringModal" class="all-buttons small-button">+</button></div>
                    <!-- Modal -->
                    <div id="wateringModal" style="display: none;">
                        <form id="wateringForm" method="post">
                            <div id="wateringModalHeader">
                                <h3>Add watering</h3>
                                <p id="wateringCloseModal">&#x166D; </p>
                            </div>
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="watering">
                            <div class="form-group">
                                <label for="{{ watering_form.plant.id_for_label }}">{{ watering_form.plant.label }}</label>
                                {{ watering_form.plant }}
                                {% if watering_form.plant.errors %}
                                <div class="error">{{ watering_form.plant.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="{{ watering_form.fertiliser.id_for_label }}">{{ watering_form.fertiliser.label }}</label>
                                {{ watering_form.fertiliser }}
                                {% if watering_form.fertiliser.errors %}
                                <div class="error">{{ watering_form.fertiliser.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="all-buttons big-button font-details-size">Save</button>
                            </div>
                        </form>
                    </div>
                    {% for watering in waterings %}
                    <div class="next-watering">
                        <div class="next-watering-details font-details-color">
                            <p>{{watering.plant.name}} </p>
                            <p>{{watering.next_watering| date:"d.m.Y"}}</p>
                        </div>
                        <div class="next-watering-controls">
                            <p class="add-day all-buttons" title="Remove one day" data-watering-id="{{ watering.id }}" data-days=-1>-1</p>
                            <p class="watering-done all-buttons" title="Mark as done" data-watering-id="{{ watering.id }}" data-fertilizer="False">Done</p>
                            <p class="watering-done all-buttons" title="Mark as done" data-watering-id="{{ watering.id }}" data-fertilizer="True">Done with fertilizer</p>
                            <p class="add-day all-buttons" title="Add one day" data-watering-id="{{ watering.id }}" data-days=1>+1</p>
                        </div>
                    </div>
                    {% empty %}
                    {% endfor %}
                </div>
                <div class="tile-background">
                    <div class="download-link">
                        <a href="{% url 'generate-pdf' %}"  target="_blank">Download PDF for current month &#x2B07;</a>
                    </div>
                </div>
                <div class="random-tips tile-background">
                    <h2 class="section-header">Random tips for you</h2>
                    <div class="tips-container">
                        <ul>
                            {% for tip in tips %}
                                <li class="tip">{{tip.tip}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>
            <div class="user-plants">
                <div class="weather-tip tile-background">
                    <h2 class="header-style">Weather tip</h2>
                    <div class="weather-tip-detail">
                        <div>
                             <p>{{weather_tip.city|capfirst}}, {{weather_tip.date| date:"d.m.Y"}}</p>
                        </div>
                        <div>
                            <span title="Weather">&#127785;</span>  {{weather_tip.weather|capfirst}} <span title="Temperature">&#127777;</span>  {{weather_tip.temperature|floatformat:1}}&#8451; <span title="Humidity">&#128167;</span> {{weather_tip.humidity}}%
                        </div>
                    </div>
                    <p class="tip-tip">{{weather_tip.tip}} </p>
                </div>
                <div class="owned tile-background">
                    <h2 class="section-header">My plants</h2>
                    <div class="owned-plants scroll">
                        {% for plant in owned_plants %}
                        <div class="user-owned-plant">
                            <div class="owned-plant-image">{% if plant.plant.image %}
                                <a href="{% url 'plant-detail' plant.plant.pk %}"><img src="{{ plant.plant.image.url }}" alt="{{ plant.plant.name }}"></a>
                                {% else %}
                                <img src="/static/images/default-plant.png" alt="Default plant image">
                                {% endif %}
                            </div>
                            <div class="owned-plant-name"><a href="{% url 'my-plants' plant.plant.pk %}" class="header-style">{{ plant.plant.name }}</a></div>
                        </div>
                        {% empty %}
                        <p>No owned plants added.</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="wishlist tile-background">
                    <h2 class="section-header">Wishlist</h2>
                    <div class="wishlist-plants scroll">
                        {% for plant in wishlist %}
                        <div class="wishlist-plant">
                            <div class="wishlist-plant-image">
                                {% if plant.plant.image %}
                                <a href="{% url 'plant-detail' plant.plant.pk %}"><img src="{{ plant.plant.image.url }}" alt="{{ plant.plant.name }}"></a>
                                {% else %}
                                <img src="/static/images/default-plant.png" alt="Default plant image">
                                {% endif %}
                            </div>
                            <div class="wishlist-plant-name">
                                <a href="{% url 'plant-detail' plant.plant.pk %}">{{ plant.plant.name }}</a>
                                <div class="wishlist-controls">
                                    <p class="wishlist-bought" title="Got it" data-plant-id="{{ plant.plant.id }}" data-user-id="{{ user.id }}">&#x1F331;</p>
                                    <p class="wishlist-remove" title="Remove from wishlist" data-plant-id="{{ plant.plant.id }}" data-user-id="{{ user.id }}">&#x20E0;</p>
{#                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">#}
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>No plants added.</p>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}