{% extends 'plants/base.html' %}
{% load static %}

{% block content %}
  <div class="login-page">
    <div class="login-form-container">
        <h2>Log in</h2>
        <form class="login-form" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Login</button>
        </form>
    </div>
    <div class="login-registration">
        <p>You don't have the account? Sign up <a href="{% url 'register' %}">here</a></p>
    </div>
  </div>

{% endblock %}