{% extends 'plants/base.html' %}
{% block title %}My {{plant.name}}{% endblock %}

{% block content %}
<div class="owned-plant-page">
    <div class="owned-plant-page-intro">
    </div>
    <div class="plant-sum-up">
        <div class="classification section-header">
                    <div class="owned-plant-details-image">
                        <img src="{{ plant.image.url }}" alt="{{ plant.name }}" />
                    </div>
                    <h1 class="section-header">{{ plant.name }}</h1>  <!-- Odwołanie do plant.name -->
        </div>
        <div class="owned-plant-section">
            <div class="watering tile-background">
                <div class="owned-watering">
                    <p><strong class="header-style">Last watering:</strong> {{  last_watering.date| date:"d.m.Y" }}</p>
                    <p><strong class="header-style">Next watering:</strong> {{next_watering| date:"d.m.Y"}} </p>
                </div>
                <div class="watering-chart">
                    {{ watering_chart|safe }}
                </div>
                <div class="watering-frequency">
                    <p><strong class="header-style">Change watering frequency</strong></p>
                    <form id="watering-frequency-form" method="post" data-url="{% url 'change-watering-frequency' %}" >
                        {% csrf_token %}
                        <input type="number" id="watering-frequency-select" name="frequency" step="1" min="1" value="{{watering_frequency}}">
                        <input type="hidden" name="plant_id" value="{{plant.id}}">
                        <input type="hidden" name="owner_id" value="{{user.id}}">
                        <input type="submit" id="watering-frequency-button" class="all-buttons big-button" value="Change">
                    </form>
                </div>
                
            </div>
            <div class="usernotes tile-background">
                <h2 class="usernotes-header section-header">Notes</h2>
                <hr style="border:1px solid #cdcdcd; width: 100%">
                <div class="usernotes-list scroll">
                        {% for note in user_notes %}
                            <div class="usernote">
                                <div class="note">
                                    <p class="usernote-header-date header-style">{{note.date| date:"d.m.Y"}} </p>
                                    <p>{{note.note}}</p>
                                    
                                </div>
                                <p class="delete-user-note" data-note-id="{{ note.id }}" data-plant-id="{{ plant.id }}">&#x166D;</p>
                            </div>
                            <hr style="border:1px solid #dfdfdf; width: 90%">
                            {% empty %}
                            <p>No notes</p>
                        {% endfor %}
                </div>
                <hr style="border:1px solid #cdcdcd; width: 100%">
                <div class="add-note-form ">
                    <h3>Add a note</h3>
                    <form id="note-form" data-url="{% url 'add-note' %}">
                        {% csrf_token %}
                        <textarea class="note-box" name="note" placeholder="Type your note here."></textarea>
                        <input type="hidden" name="plant_id" value="{{ plant.id }}">
                        <input type="hidden" name="user_id" value="{{ user.id }}">
                        <button class="all-buttons big-button" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% if can_diagnose %}
        <div class="ai-rating-container tile-background">
            <div class="ai-rating-sumup">
                
                <div class="diagnosis-box">
                    <h3 class="section-header">Plant diagnosis</h3>
                    <p class="font-details-color diagnosis-description">To receive a diagnosis regarding the state of this plant, please click the button below. Option to upload a picture will show. Use it, click Diagnose and wait for a pop-up window with comment.</br>After closing the window, the data will automatically be added to the table and chart below.</p>
                    <button class="diagnose-btn all-buttons big-button" data-plant-id="{{ plant.id }}">Diagnose</button>
                    <div style="display: block">
                        <!-- Modal z formularzem -->
                        <div id="diagnoseModal" style="display:none;">
                            <form id="diagnoseForm" enctype="multipart/form-data" data-url="{% url 'diagnose-plant' %}">
                                {% csrf_token %}
                                <input type="file" name="image" id="fileInput" accept="image/*" required hidden>
                                <label for="fileInput" class="file-upload-button all-buttons big-button">📷 Choose image</label>
                                <span id="fileName">No file selected</span>
                                <input type="hidden" name="plant_id" id="plantIdInput">
                                <button class="all-buttons big-button" type="submit">Send for analysis</button>
                            </form>
                        </div>
                    </div>
                    {% if plotly_chart %}
                    <h3 class="section-header rating-history-header">History of ratings</h3>
                    {% endif %}
                </div>
                <div class="ai-plotly-chart">
                    {{ plotly_chart|safe }}
                </div>
            </div>
            <div class="ai-rating-notes">
                <h3 class="ai-rating-header section-header">AI ratings</h3>
                {% if ai_rating %}
                    <div class="ai-ratings-all">
                        <div class="ai-rating scroll">
                            <div class="ai-rating-list-header">
                                <p class="ai-rating-list-note-date header-style">Date</p>
                                <p class="ai-rating-list-note-content header-style">Note</p>
                            </div>
                            {% for rating in ai_rating %}
                                <div class="ai-rating-list-note">
                                    <p class="ai-rating-list-note-date ">{{rating.date | date:"d.m.Y"}}</p>
                                    <div class="ai-rating-list-note-content font-details-color">
                                        <p><strong class="header-style">Rating:</strong> {{ rating.rating }}</p>
                                        <p><strong class="header-style">Note:</strong> {{rating.note}}</p>
                                    </div>
                                </div>
                                {% empty %}
                                    <p>No AI ratings.</p>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <p>No rating in database.</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}